<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>
<body>
    We are into the EJS now push to heroku

    <% userData.forEach((customer)=>{ %>


    <table>
        <tr>
            <td><%= customer.customer_name %></td>
            <td><%= customer.customer_lastname %></td>
            <td><%= customer.customer_age %></td>
        </tr>
        <% })%>
    </table>
</body>
</html>